h1 {
  color: #bfd6cc;
  margin-top: 40px;
}

.container-fluid {
  background-color: rgba(238, 217, 192, 0.911);
  font-weight: 600;
}

.container img {
  height: 250px;
  margin-right: 60px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.first-row {
  font-size: 22px;
  margin-top: 20px;
}

.about-me {
  margin-top: 80px;
  font-size: 20px;
}

.mb-3 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 40px;
  max-width: 40%;
}

.btn-primary {
  background-color: #bfd6cc;
  color: black;
  border-color: #bfd6cc;
  font-weight: 600;
}

.btn-primary:hover {
  background-color: rgba(191, 214, 204, 0.6588235294);
  border-color: #bfd6cc;
  color: black;
}

input:valid {
  border: 2px solid green;
}

input:invalid {
  border: 2px solid red;
}